		<!-- Footer -->
			<div id="footer">
				<div class="container">
				<!-- Copyright -->
					<div class="copyright">
						<ul class="coord">
							<li><strong>Tiphaine DELARUE</strong></li>
							<li>SIRET : 83144786700019</li>
							<li>Tel : 06 24 98 17 78</li>
							<li><a href="mailto:tiphaine.equitherapie@gmail.com">tiphaine.equitherapie@gmail.com</a></li>
						</ul>
						<ul class="menu">
							<li>Ergothérapeute et équithérapeute</li>
							<li>Saint-Malo - Dinan - Ille et Vilaine - Bretagne</li>
						</ul>
						<ul class="menu">
							<li>Equithérapie Bretagne</li>
						</ul>
					</div>
			</div>
	</body>
</html>
