@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Patrick+Hand+SC|Caveat');

body, input, select, textarea {
		line-height: 1.3em;
		font-weight: 500;
}

strong {
  color: #7BA800;
}

strong.b {
	color: #474747;
}

ul {
	margin: 0 0 1.5em 0;
}

li {
  list-style-type: disc;
  list-style-position: inside;
}

p {
	margin: 0 0 1.5em 0;
}

small {
	font-size: 14pt;
}

#header {
  background: #FFFFFF url('images/logo.png') no-repeat 440px 5px;
	padding: 1em 0 0 0;
}

#header h1 a {
  font-family: 'Caveat Brush', cursive;
  color: #003265;
  font-size: 40px;
}

#header h1 a em {
  font-family: 'Patrick Hand SC', cursive;
  color: #323232;
}

#logo {
	overflow: hidden;
	margin: 0 auto;
	width: 900px;
}

#logo > p {
	float: left;
	margin: 0;
}

#logo a {
	border-bottom: 0px none #FFF;
}

#logo > h1 {
	float: left;
	margin-top: 1.5em;
	padding-left: 3em;
}

#footer {
  padding-top: 1em;
}

#footer .copyright {
  color: #003265;
}

h2 {
  font-family: 'Caveat', cursive;
}

h2.citation {
  text-align: center;
  margin-bottom: 10px;
}

h2.head {
  text-align: center;
  margin-bottom: 10px;
  color: #FF3200;
}

.auteur_citation {
  text-align: right;
}

/* Conteneur de page */
.wrapper {
  padding: 8px;
}

.wrapper.style1 {
  background-image: url('images/paille.jpg');
}

.container .row {
  background-color: #FFF;
}

.container {
  width: 1000px;
}

.row.double {
  margin-left: 0;
}

.row.double > * {
  padding-left: 0;
}

.row.double .content {
  padding: 15px;
}

.image.featured {
  margin-bottom: 15px;
}

/* Liens du menu */
#nav > ul > li a {
  padding: 15px 2px 14px 2px;
}

.section {
  overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left.image {
  width: 40%;
}

.coord li {
  list-style-type: none;
  list-style-position: outside;
}

.middle {
	display: block;
	overflow: hidden;
	margin: 20px 0;
}

.middle span {
	height: 100px;
	line-height: 100px;
	display: block;
	float: left;
}
